#backimg
{
    background-image: url(../images/white\ pattren.jpg);
    background-size: cover;
}
#font1
{
    color: rgb(6, 100, 231);
}
#ali:hover
{
    transform: translateY(-20px);
    transition: 0.2s ease;
}
#ali1:hover
{
    transform: translateY(-20px);
    transition: 0.2s ease;
    filter: grayscale(100%);
}